.epub-search-form .filter {
	display: inline-block;
	vertical-align: top;
	margin-right: 1rem;
}

.epub-search-form .filter label {
	display: block;
}

.epub-search-form .filter select {
	width: auto;
	height: 4.4rem;
	padding: 8px;
}

.epub-search-form input[type="submit"]{
	vertical-align: top;
	margin-top: 29.25px;
	padding-top: 12.8px;
	padding-bottom: 12.8px;
}

figure.wp-block-table {
	overflow-x: auto;
}
